__pycache__/
.venv/
.DS_Store
*.pyc
dist/
build/
*.egg-info/
echo ".venv/" > .gitignore
echo "__pycache__/" >> .gitignore
echo "build/" >> .gitignore
echo "dist/" >> .gitignore
echo "*.egg-info/" >> .gitignore
